div {
    text-align: center;
} 

h1, h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: 700;
	color: green;
}

h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: 700;
    color: #4aaaa5;
    }
